.section-mood {
  padding-block: 100px;
  @include responsive(md) {
    padding-block: 50px;
  }
  .container {
    &-mood {
      align-items: center;
      justify-content: space-between;
      @include responsive(md) {
        align-items: flex-start;
        gap: 30px;
      }
      .content {
        &-left {
          @include flex(column, flex-start, flex-start);
          gap: 8px;
          @include responsive(md) {
            width: 100%;
          }
          .subtext {
            &-text {
              @include flex(column, flex-start, flex-start);
              gap: 40px;
              &-display {
                color: $black;
                font-family: $font-display;
                font-size: 56px;
                font-style: normal;
                font-weight: 500;
                line-height: 115%; /* 64.4px */
                letter-spacing: -1.12px;
                @include responsive(xl) {
                  font-size: 48px;
                }
                @include responsive(sm) {
                  font-size: 36px;
                }
              }
            }
          }
        }
        &-right {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;
          @include responsive(md) {
            width: 100%;
          }
          @include responsive(sm) {
            grid-template-columns: repeat(1, 1fr);
          }
          .card {
            @include flex(column, flex-start, flex-start);
            gap: 16px;
            &-title {
              color: $black;
              font-family: $font-display;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 115%; /* 27.6px */
              letter-spacing: -0.48px;
              @include responsive(xl) {
                font-size: 20px;
              }
            }
            &-desc {
              color: $subtext;
              font-family: $font-display;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 160%; /* 25.6px */
              letter-spacing: -0.32px;
            }
          }
        }
      }
    }
  }
}
